<h1>Тестовое задание:</h1>
<p>Необходимо реализовать микросервис используя язык программирования python.</p>

<h2>Функциональные части сервиса:</h2>
<p>a) Реализация api:</p>
<ul>
    <li>Регистрация пользователей</li>
    <li>Аутентификация пользователей</li>
    <li>Список пользователей</li>
</ul>

<p>б) Функционал взаимодействия через шину данных.</p>

<h3>Доменный объект - Задача.</h3>
<p>Задача содержит следующую информацию:</p>
<ul>
    <li>номер задачи</li>
    <li>статус</li>
</ul>

<h2>Необходимо:</h2>
<ul>
    <li>Создать 2 канала для получения задачи и ответа на задачу. должна поддерживаться приоритезация</li>
    <li>При получении задачи, данные валидируются.</li>
    <li>Данные должны храниться в БД</li>
    <li>Обработка задачи представляет собой поэтапную смену статусов (создана, в обработке, ответ). Должна быть
        реализована фоновая обработка задачи с отдельными методами для каждого значения статуса
    </li>
    <li>Ответ на задачу должен содержать статус задачи, идентификатор, время выполнения задачи</li>
    <li>Периодическая задача по удалению старых сообщений</li>
</ul>

<h2>Требования:</h2>
<ul>
    <li>Код репозитория на GitHub или архивом</li>
    <li>Python 3, Django или FastApi</li>
    <li>Docker, docker-compose</li>
    <li>RQ или Kafka</li>
    <li>Postgresql</li>
    <li>автотесты</li>
</ul>

